#u131
{
	z-index: 40;
	width: 400px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	/*background-color: #C1272D;*/
	position: relative;
	margin-right: -474px;
	margin-top: -5px;
	left: 18px;
}
