html
{
	min-height: 100%;
	min-width: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
	margin: 0;
	padding: 0;
	border-width: 0;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img
{
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup
{
	font-style: inherit;
	font-weight: inherit;
}

del,ins
{
	text-decoration: none;
}

li
{
	list-style: none;
}

caption,th
{
	text-align: left;
}

h1,h2,h3,h4,h5,h6
{
	font-size: 100%;
	font-weight: inherit;
}

input,button,textarea,select,optgroup,option
{
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

body
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 1.2;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	body { text-rendering:auto; }
}

a
{
	color: inherit;
	text-decoration: inherit;
}

a:link
{
	color: #63ADD0;/**/
	text-decoration: underline;
	visibility: inherit;
}

a:visited
{
	color: #819299;
	text-decoration: underline;
	visibility: inherit;
}

a:hover
{
	color: #D0DAFF;
	text-decoration: underline;
	visibility: inherit;
}

a:active
{
	color: #EE0000;
	text-decoration: underline;
	visibility: inherit;
}

a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.normal_text
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 1.2;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	vertical-align: 0px;
}

.TabbedPanelsTab
{
	white-space: nowrap;
}

.MenuBar  .MenuBarView, .MenuBar  .SubMenuView /* Resets for ul and li in menus */
{
	display: block;
	list-style: none;
}

.MenuBar .SubMenu
{
	display: none;
	position: absolute;
}

.NoWrap
{
	white-space: nowrap;
	word-wrap: normal;
}

.MenuBar .MenuItemContainer
{
	position: relative;
}

.rootelem /* the root of the artwork tree */
{
	margin-left: auto;
	margin-right: auto;
}

.colelem /* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
}

.grpelem /* a child element of a group */
{
	display: inline;
	float: left;
}

.clearfix:after /* force a container to fit around floated items */
{
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

*:first-child+html .clearfix /* IE7 */
{
	zoom: 1;
}

.inclusion_context /* context for positioning a group of elements that share the same height */
{
	display: table;
	table-layout: fixed;
	width: 0.01px;
}

.inclelem /* element of an inclusion context */
{
	display: table-cell;
	vertical-align: top;
}

.f3s_mid /* 3-slice frame, middle slice */
{
	background-repeat: repeat;
}

.f3s_top,.f3s_bot /* 3-slice frame, top slice */
{
	background-repeat: no-repeat;
}

.f9s_top_left, .f9s_bot_left /* 9-slice frame, left corner slice */
{
	background-repeat: no-repeat;
	background-position: left;
}

.f9s_top_right, .f9s_bot_right /* 9-slice frame, right corner slice */
{
	background-repeat: no-repeat;
	background-position: right;
}

.f9s_top_mid, .f9s_bot_mid /* 9-slice frame, top/bottom horizontal slice */
{
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.f9s_mid_left /* 9-slice frame, left vertical slice */
{
	background-repeat: repeat-y;
	background-position: left;
}

.f9s_mid_right /* 9-slice frame, right vertical slice */
{
	background-repeat: repeat-y;
	background-position: right;
}

.f9s_center /* 9-slice frame, center slice */
{
	background-repeat: repeat;
	background-position: 0px 0px;
}

.popup_anchor /* anchors an abspos popup */
{
	position: relative;
	width: 0px;
	height: 0px;
}

.popup_element
{
	z-index: 100000;
}

.pointer_cursor
{
	cursor: pointer;
}

span.wrap /* used to force wrap after floated array when nested inside a paragraph */
{
	content: '';
	clear: left;
	display: block;
}

span.actAsInlineDiv /* used to simulate a DIV with inline display when already nested inside a paragraph */
{
	display: inline-block;
}

.position_content,.excludeFromNormalFlow /* used when child content is larger than parent */
{
	float: left;
}

.preload_images /* used to preload images used in non-defaul states */
{
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

preload /* used to specifiy the dimension of preload item */
{
	height: 1px;
	width: 1px;
}

.animateStates
{
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.anchor_item /* used to specify anchor properties */
{
	width: 22px;
	height: 18px;
}

.MenuBar .SubMenuVisible, .MenuBarVertical .SubMenuVisible, .MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext
{
	display: block;
}

.popup_element.Inactive,.js .disn
{
	display: none;
}

.widget_invisible,.js .invi /* used to hide the widget before loaded */
{
	visibility: hidden;
}


/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	padding: 0px 0px 0px 10px;
	list-style: none; /* this removes the list marker */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}

ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 0px 0px 10px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #666;
	color: #FFF;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #CCC;
	color: #FFF;
}

.nav_title{
	color: rgb(255, 255, 255);
}

.nav{
	color: rgb(198, 198, 198);
}

#loginForm {
	font-size: 12px;
}

#loginForm label.error{
	font-size: 11px;
	color: rgb(193, 39, 45);
}

#login {
	padding: 0px 10px 10px 10px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #CCC;
	color: #666;
	/*color: rgb(193, 39, 45);*/
	}

#login:hover { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #333;
	color: #FFF;
}

#register_form {
	font-size: 13px;
}

#register_form label.error{
	font-size: 11px;
	color: #FFF;
}

#register {
	padding: 5px 10px 10px 10px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #CCC;
	color: #666;
	/*color: rgb(193, 39, 45);*/
	}

#register:hover { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #FFF;
	color: #333;
}

.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}

.fltlft {  /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-left: 8px;
}

.errormessage{
	padding: 0px 550px 10px 10px;
	font-size: 12px;
	color: rgb(193, 39, 45);
	float: right;
	margin-left: 8px;
	
}

.errormessage2{
	padding: 0px 0px 10px 10px;
	font-size: 12px;
	color: rgb(193, 39, 45);
	float: right;
	position: absolute;
	white-space: nowrap;
	word-wrap: normal;
	
}

#page
{
	border-radius: 20px 20px 0px 0px;
}

#u89-6
{
	color: #666;
}

.login{
	color: #666;
	font-size:12px;
}
.login a {
	display: block;
}

.login a:hover { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #CCC;
	color: #FFF;
}

.logout, .logout a{
	color: #000;
	padding: 0px 10px 10px 10px;
	font-size:12px;
}

#info_about{
	text-align: justify;
	font-size: 13px;
	color: rgb(255, 255, 255); 
}

#webexplorer
{
	font-size: 11px;
	color: rgb(193, 39, 45);
}

#mailto
{
	color: #800080;
	text-decoration: underline;
	visibility: inherit;
}

.small_text{
	font-size: 12px;
}

.extra_small_white{
	font-size: 11px;
	color: #FFFFFF;
}